Checks: '-*,
  android-*,
  -android-cloexec-fopen,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-sizeof-expression,
  -bugprone-signed-char-misuse,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-not-null-terminated-result,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-exception-escape,
  -bugprone-suspicious-memory-comparison,
  -bugprone-assignment-in-if-condition,
  -bugprone-unhandled-self-assignment,
  -bugprone-macro-parentheses,
  -bugprone-undefined-memory-manipulation,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  cert-*,
  -cert-str34-c,
  -cert-err58-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -cert-dcl03-c,
  -cert-exp42-c,
  -cert-flp37-c,
  -cert-oop54-cpp,
  -cert-err33-c,
  -cert-msc32-c,
  -cert-msc51-cpp,
  clang-analyzer-*,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-alpha.clone.CloneChecker,
  -clang-analyzer-alpha.deadcode.UnreachableCode,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-core.StackAddressEscape,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-unix.cstring.NullArg,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-core.uninitialized.Assign,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-core.uninitialized.UndefReturn,
  -clang-analyzer-core.DivideZero,
  -clang-analyzer-core.NullDereference,
  google-*,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-todo,
  -google-runtime-int,
  -google-readability-casting,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-build-using-namespace,
  -google-explicit-constructor,
  -google-default-arguments,
  -google-readability-function-size,
  hicpp-*,
  -hicpp-no-array-decay,
  -hicpp-avoid-c-arrays,
  -hicpp-vararg,
  -hicpp-no-malloc,
  -hicpp-special-member-functions,
  -hicpp-use-emplace,
  -hicpp-use-auto,
  -hicpp-member-init,
  -hicpp-deprecated-headers,
  -hicpp-uppercase-literal-suffix,
  -hicpp-signed-bitwise,
  -hicpp-named-parameter,
  -hicpp-braces-around-statements,
  -hicpp-exception-baseclass,
  -hicpp-explicit-conversions,
  -hicpp-static-assert,
  -hicpp-multiway-paths-covered,
  -hicpp-use-equals-default,
  -hicpp-function-size,
  misc-*,
  -misc-no-recursion,
  -misc-const-correctness,
  -misc-static-assert,
  -misc-non-private-member-variables-in-classes,
  -misc-unconventional-assign-operator,
  -misc-redundant-expression,
  performance-*,
  -performance-unnecessary-value-param,
  -performance-unnecessary-copy-initialization,
  readability-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-uppercase-literal-suffix,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -readability-simplify-boolean-expr,
  -readability-suspicious-call-argument,
  -readability-container-data-pointer,
  -readability-braces-around-statements,
  -readability-static-accessed-through-instance,
  -readability-convert-member-functions-to-static,
  -readability-redundant-member-init,
  -readability-non-const-parameter,
  -readability-inconsistent-declaration-parameter-name,
  -readability-redundant-string-cstr,
  -readability-make-member-function-const,
  -readability-static-definition-in-anonymous-namespace,
  -readability-function-size,
  -readability-string-compare,
  -readability-redundant-preprocessor'

CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 1
  - key: readability-function-cognitive-complexity.Threshold
    value: 299
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: _FILE_OFFSET_BITS
