Source: gdcm
Section: libs
Priority: optional
Maintainer: Debian-Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Mathieu Malaterre <mathieu.malaterre@gmail.com>,
 Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 5.0.37.2), python-all-dev (>= 2.3.5-11), quilt,
 python-support (>= 0.3.9), uuid-dev, zlib1g-dev, libexpat1-dev,
 swig, cmake, libvtk5-dev, python-vtk, libpng12-dev | libpng-dev,
 libjpeg62-dev, libtiff4-dev, libfreetype6-dev, libxext-dev,
 mono-mcs (>= 1.0) | c-sharp-compiler, libopenjpeg-dev, libpoppler-dev, texlive-extra-utils
Standards-Version: 3.8.0
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/gdcm/trunk/?rev=0&sc=0
Vcs-Svn: svn://svn.debian.org/svn/debian-med/trunk/packages/gdcm/trunk/
Homepage: http://gdcm.sourceforge.net/

Package: libgdcm2
Architecture: any
Depends: ${shlibs:Depends}
Recommends: dcmtk
Description: DICOM library
 Grassroots DiCoM is a C++ library for DICOM medical files. It is automatically wrapped
 to python/C#/Java (using swig). It supports RAW,JPEG (lossy/lossless),J2K,JPEG-LS, RLE 
 and deflated. It also comes with DICOM Part 3,6 & 7 of the standard as XML files.

Package: libgdcm-tools
Architecture: any
Section: utils
Depends: ${shlibs:Depends}
Description: Command line utilities for libgdcm
 Libgdcm provides a number of command line debugging and utility programs.
 Install this package for the gdcmdump, gdcmconv, gdcmimg, gdcmscanner,
 gdcminfo, gdcmraw programs.

Package: libgdcm2-dev
Section: libdevel
Provides: libgdcm-dev
Conflicts: libgdcm-dev
Architecture: any
Depends: libgdcm2 (= ${binary:Version}), libuuid1
Description: Headers and static libraries for libgdcm
 Headers and static libraries for libgdcm. These are not needed to use
 gdcm, but are needed to build plugins or programs that
 link against libgdcm.

Package: libgdcm2-dbg
Architecture: any
Priority: extra
Depends: libgdcm2 (= ${binary:Version})
Description: Debug symbols for libgdcm2
 Debug symbols for libgdcm that will allow useful tracebacks and debugging
 on end user machines.

Package: csharp-gdcm
Architecture: any
Depends: ${shlibs:Depends}, ${cli:Depends}, libgdcm2 (= ${binary:Version})
Description: CLI bindings to the gdcm DICOM library
 CLI bindings to the gdcm DICOM library.

Package: python-gdcm
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, libgdcm2 (= ${binary:Version})
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to the gdcm DICOM library
 Python bindings to the gdcm DICOM library.

Package: libvtkgdcm
Architecture: any
Depends: ${shlibs:Depends}, libvtk5
Recommends: dcmtk
Description: DICOM library
 Libvtkgdcm is a library that quickly allow programmer to use GDCM from
 a VTK environment.

Package: libvtkgdcm-dev
Section: libdevel
Provides: libvtkgdcm-dev
Conflicts: libvtkgdcm-dev
Architecture: any
Depends: libgdcm2 (= ${binary:Version})
Description: Headers and static libraries for libvtkgdcm
 Headers and static libraries for libvtkgdcm. These are not needed to use
 gdcm, but are needed to build plugins or programs that
 link against libvtkgdcm.

Package: python-vtkgdcm
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, libgdcm2 (= ${binary:Version})
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to the gdcm DICOM library
 Python bindings to the gdcm DICOM library.

Package: libvtkgdcm-tools
Architecture: any
Section: utils
Depends: ${shlibs:Depends}
Description: Command line utilities for libvtkgdcm
 Libvtkgdcm provides a number of command line debugging and utility programs.
 Install this package for the gdcmviewer programs.


