Source: pvrg
Maintainer: Mathieu Malaterre <mathieu.malaterre@gmail.com>
Section: graphics
Priority: optional
Build-Depends: debhelper (>= 4), cmake
Standards-Version: 3.8.0

Package: libpvrg
Architecture: any
Section: libs
Description: PVRG lib
 JPEG implementation from PVRG
 .
 This package contains the shared library.
Depends: ${shlibs:Depends}

Package: libpvrg-dev
Architecture: any
Section: libdevel
Description: Development files for the PVRG JPEG library
 The PVRG is a library for handling JPEG files.
 .
 This package contains the static library, headers and documentation.
Provides: libpvrg-dev
Depends: libpvrg (=${binary:Version}), libc-dev

Package: libpvrg-dbg
Architecture: any
Section: libdevel
Priority: extra
Description: Development files for the PVRG JPEG library
 The PVRG JPEG library is a library for handling
 JPEG files.
 .
 This package contains the debugging symbols for libjpeg.
Provides: libpvrg-dbg
Depends: libpvrg (=${binary:Version})

Package: libpvrg-tools
Architecture: any
Description: Programs for manipulating JPEG files
 This package contains programs for manipulating JPEG files:
  pvrg
Depends: ${shlibs:Depends}
